@import url('https://fonts.googleapis.com/css2?family=Cairo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: cairo, sans-serif, ui-sans-serif, system-ui;
}

.ant-collapse-item {
	margin: 8px 5px;
}

.ant-collapse-item-active > .ant-collapse-header {
	background-color: rgb(224 247 250 / var(--tw-bg-opacity));
	border-radius: 0.475rem;
}

.ant-collapse-item > .ant-collapse-header:hover {
	background-color: rgb(224 247 250 / var(--tw-bg-opacity));
	border-radius: 0.475rem;
}

::-webkit-scrollbar {
	width: 8px;
	height: 5px;
	background: #dcdcdf;
}

::-webkit-scrollbar:hover {
	width: 10px;
	height: 5px;
	background: #dcdcdf;
}

::-webkit-scrollbar-thumb {
	@apply bg-slate-400;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

@layer utilities {
	@layer responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
